@import "styles/variables";
.pagination{
  padding: 10px;
}
.actions{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.loading{
  display: flex;
  height: 380px;
  width: 100%;
  background-color: $gray2;
  align-items: center;
  justify-content: center;
}